<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카테고리 리스트</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/category-nav.css" />
    <link rel="stylesheet" type="text/css" href="/css/category-list.css" />
</head>

<nav class="navbar">
    <a href="/" class="menu1">CREWCREW</a>
    <a href="/crews" class="menu2">Create Crew!</a>
</nav>

<body>
    <div class="container">
        <header class="clearfix">
            <h1 id="title">CHOOSE YOUR CATEGORY <i class="em em-fire" aria-role="presentation" aria-label="FIRE"></i></h1>
        </header>

        <ul class="cbp-rfgrid">
            <li><a href="./category/Cycling"><img src="https://cyclingmagazine.ca/wp-content/uploads/2017/11/img_1653-768x1024-768x1024.jpg" />
                    <div>
                        <h3>Cycling</h3>
                    </div>
                </a></li>
            <li><a href="./category/Badminton"><img src="https://images.unsplash.com/photo-1559309106-ed14040fd35d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" />
                    <div>
                        <h3>Badminton</h3>
                    </div>
                </a></li>
            <li><a href="./category/Swimming"><img src="https://media.istockphoto.com/photos/freestyle-swimming-picture-id523739391?k=6&m=523739391&s=612x612&w=0&h=__R7H9Mxr-kwLN6Impg4OlUDAiVU3aC9SgWVxtzctfE=" />
                    <div>
                        <h3>Swimming</h3>
                    </div>
                </a></li>
            <li><a href="./category/Running"><img src="http://www.selloutcentral.com/wp-content/uploads/2017/08/Run-running.jpg" />
                    <div>
                        <h3>Running</h3>
                    </div>
                </a></li>
            <li><a href="./category/Fitness"><img src="http://www.maeilhk.com/wp-content/uploads/2019/12/Smart-Fitness-Wear-Market.jpeg" />
                    <div>
                        <h3>Fitness</h3>
                    </div>
                </a></li>
            <li><a href="#"><img src="https://www.vectordiary.com/isd_post/2010/sports-illustrations/sports-olympics-balls-04.jpg" />
                    <div>
                        <h3>Other..</h3>
                    </div>
                </a></li>
        </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</body>

</html>
