nav{
    position:fixed;
    height: 50px;
    display:block;
    width: 100%;
    background: transparent;
    z-index:9;
    color: #7AC351;
    padding: 20px 0 0 0;
    font-size: 2rem;
    text-shadow: 1px 1px 1px;
}

nav .menu1 {
    text-decoration: none;
    font-size: 2rem;
    margin-top: 0.23em;
    margin-left: 50px;
    float: left;
    font-weight: bold;
    color: #7AC351;
}

nav .menu1:hover {
    color: #7AC351;
}
