<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/mypage.css?ver=2">
    
    <style>
        a { text-decoration: none; color: #7AC351; }
        a:visited { text-decoration: none; }
        a:hover { text-decoration: none; }
        a:focus { text-decoration: none; }
        a:hover, a:active { text-decoration: none; }
    </style> 
    <div style="position: absolute; z-index:2; margin-left:2%; padding-top: 2%;" onclick="location.href='/';">
    </div> 
</head>

<body>
    <br>
    <aside class="profile-card">
    <header> 
        <a target="_blank">
        <img class="hoverZoomLink"  src="https://post-phinf.pstatic.net/MjAxODA4MTJfMzgg/MDAxNTM0MDYxNjMxNzI2.qYWnHXtSXQnkZbeMjmatpcVo0Vjjy87MHdiEs5G6znIg.K7Dctexbidm5_XDc4A-M2LK-sA3CfDc33eyiPG5Zzgcg.PNG/1.png?type=w1200">
        </a>
        <h1>
                MY PAGE
            </h1>
    </header>

    <div class="profile-bio">
        <p>
        ID : <%=id%><br> 
        NICKNAME : <%=nickname%><br>
        <br>
        INTEREST : <%=interest%><br> 
            <br>                 
        <p style="text-align:center;" id="textcenter">
            <a href="/" class="linkcolor">Home</a>
        </p>
        </p>
    </div>
    </aside>

</body>
</html>